.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* background-color: #53c28b; */
  padding: 5px;
  color: white;
}
.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}
.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
.img {
  object-fit: cover;
  filter: grayscale(100%);
}
.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row {
  display: flex;
  gap: 100px;
}
